menu li{
    list-style: none;
    display: block;
    flex-direction: row;
    background-color: rgb(185, 241, 223);
    padding: 1em 3em 1em 3em;

}

menu a{text-decoration: none;
color: grey;}

menu li:hover
{
    background-color: cadetblue;
    text-decoration: underline;
    color: lightgrey;
}
menu ul{
    display: flex;
    justify-content:center
}

.user {
    display: block;
    text-decoration: none;
    padding: 1em 3em 1em 3em;
    margin: 0px 0px 0px 0px;
}
.user:nth-child(odd){
    
    background-color: rgb(185, 241, 223);
    
}

.user:nth-child(even){
    background-color: rgb(133, 190, 236);
}
a span, span {

    margin-left: 50px;
}
a{
color:black;
text-decoration: none}

#department_name{
    font-weight: bold;
    font-size: 1.3em;
    display: block
    width: 40%

}
.search{
    display: block
}
form{display: inline-flex;}

.error{
    font-weight: bold;
    color: red;
}

#go_back{
color:blue;
}

.main_header {

    animation-duration: 3s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
.greeting{
display: block
width: 100%;
height: 40px
    background-color: blue;

}
