<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    {% block menu %}
    <header>
        <menu>
            <ul>
               <a href="{{url_for('homepage')}}"> 
                   <li>
                        Home
                   </li>
               </a> 

               <a href="{{url_for('departments')}}">
                    <li>
                    Departments
                    </li>
               </a>

            </ul>
        </menu>
    </header>
    <a id="go_back" href="javascript:history.go(-1)">Go back...</a>
    {% endblock %}

</body>
</html>