{% extends "base.html" %}
{% block menu %}
{{super()}}

<form action="" method='POST' >
  <p><label>Name: </label> <input type="text" name="name" value= "{{name}}" required>
  <p><label>Date of birth: </label> <input type="text" name="birth" value="{{date_of_birth}}" required>
  <p><label>Department: </label> <input type="text" name="department" value="{{department_id}}" required>
  <p><label>Salary: </label> <input type="text" name="salary" value="{{salary}}" required>

<p><input type="submit" value="Save">
</form>

{% endblock %}